#line{
	border: 1px solid black;
	height:1px;
	width:960px;
}
#date{
	font-size: 11px;
	font-family: Helvetica, sans-serif;
}
#content p{
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	color: #333;
}