<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Marco Teixeira</title>
  <link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
<body>
 
  <div id="main">
 
    <header>
      <h1> Marco Teixeira</h1>
    <header>
 
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/article/">Articles</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
 
    {{ content }}
 
    <footer>
		<div>
			<p> Marco Teixeira 2012 | All Rights Reserved. </p>
		</div>
    </footer>
 
  </div>
</body>
</html>