---
layout: default
comments: true
---
<div id="post">
	<p>{{ page.title }} </p>
	<hr>
	<p class="date">Posted on {{page.date | date: "%d/%m/%Y"}}</p>
	{{content}}
	<section>
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			var disqus_shortname = 'maviteixeira';
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
	</section>
<div>